*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green:rgb(0, 255, 0);
    --electricGreen:rgb(204,255,51);
    --maximumBlueGreen:rgb(8,189,189);
    --mango:rgb(245,183,0);
    --nav-anchor:rgba(255, 255, 255, 0.404);

    /* root for pageNo2  */
    --Cyan: hsl(180, 62%, 55%);
    --Red: hsl(0, 78%, 62%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}
html{
    scroll-behavior: smooth;
}

body{
    background: #191512f7;
    color: white;
}
#goUp{
    /* display: block; */
    position: fixed;
    right: 30px;
    bottom: 35px;
    width: 40px ;
    height: 40px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
}
#goUp img{
    width: 100%;
    height: 100%;
}

.landing-page{
    width: 100%;
    height: 100vh;
    max-width: 1230px;
    margin:0 auto;
    background: rgb(1,0,6);
    background: linear-gradient(177deg, rgba(1,0,6,1) 5%, rgba(56,56,60,1) 45%, rgba(123,106,130,1) 89%);
    
    /* background-image: url(me2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; */
}


.nav-bar{
    padding: 0 50px;
    margin: 0 0 10px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 20px;
}

/* nav for mobile */
#nav-mob-openBtn, #closebtn{
    display: none;
}

/* styles for desktop nav bar */
.nav-ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
}
.nav-ul li{
    margin: 0 10px;
    /* cursor: pointer; */
}
.nav-ul li a {
    text-decoration: none;
    color: var(--nav-anchor);
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}
.nav-ul li a:hover{
    color: var(--green);
}

/* styles for my name in nav bar  */
.nav-1 h2{
    color: var(--maximumBlueGreen);
}
.nav-1 span{
    color: var(--green);
    font-size: 1.5em;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}
#my-pic-mob{
    display: none;
}

.divider{
    border-bottom: 5px solid var(--green);
    width: 90%;
    margin: auto;
}

.lan-pg-content{
    display: flex;
    margin-top: 100px;
}
.lan-pg-content > div{
    min-width: 40%;
    max-width: 500px;
}

.lan-pg-content .left-half{
    padding: 20px 20px 20px 40px;
    max-width: 500px;
}
.lan-pg-content .pera-lan{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 0.6em;
    margin: 0 25px;
}
.lan-pg-content .intro{
    margin: 10px 25px;
}
.lan-pg-content .intro .name-hiLigh{
    color: var(--green);
}
.lan-pg-content .intro-space{
    margin-left: 10px;
    color: rgb(245, 184, 0);;
}
.pera2-land{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.626);
    margin: 25px;
}

/* this style only for my picuter in landing page */
.right-half {
    position: relative;
}

.profile-pic-container {
    width: 270px;
    height: 260px;
    border-top: 10px solid var(--green);
    border-left: 10px solid var(--green);
    border-right: 10px solid var(--green);
    position: absolute;
    top: 28px;
    left: 3px;
    box-shadow: 0px 5px 15px var(--green), inset 0px 0px 10px var(--green);
}
.profile-pic-container-1{
    border-bottom: 10px solid var(--green);
    box-shadow:  inset 0px 5px 15px var(--green);
    width: 270px;
    position: absolute;
    top: 278px;
    left: 3px;
    z-index: 999;
}
.right-half .sub-pic-cov {
    overflow: hidden;
    position: absolute;
    top: -22px;
    left: -30px;
    width: 290px;
    height: 300px;
}
.right-half .sub-pic-cov img{
    position: relative;
    left: 0;
    top: 0;
    width: 290px;
}

#land-animi{
    display: none;
}

 /* style of pageNo2 💫💫💫💫💫💫💫💫💫💫 */
 #pageNo2 .page-divider{
    border-bottom: 2px solid var(--Orange);
    width: 80%;
    margin: auto;
 }
 #pageNo2{
    width: 100%;
    max-width: 1230px;
    margin:0 auto;
    padding-bottom: 20px;
    background: linear-gradient(354deg, rgba(1,0,6,1) 5%, rgba(56,56,60,1) 45%, rgba(123,106,130,1) 89%);
 }

#pageNo2 .behind-text{
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}
#pageNo2 .behind-text h1{
    margin-left: 150px;
    font-size: 550px;
    color: rgba(237, 220, 220, 0.082);
    animation: text-behind 40s linear infinite;
}
@keyframes text-behind {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

#pageNo2 > h2{
    text-align: center;
    margin: 20px;
}

.skills-grid{
    margin: 15px auto;
    position: relative;
    display: grid;
    grid-template-areas: 
    "H H"
    "C J"
    "S S"
    ;
    
}

.skills-grid .skill{
    max-width: 500px;
    min-width:300px;
    height: 200px;
    /* border: 1px solid var(--maximumBlueGreen); */
    background: rgb(82,55,101);
    background: linear-gradient(90deg, rgba(82,55,101,1) 0%, rgba(107,76,76,1) 50%, rgba(94,68,32,1) 100%);
    box-shadow: 0 1px 4px 0 rgba(245, 245, 242, 0.6), 0 6px 12px 0 rgba(80, 76, 76, 0.32);
    margin: 5px;
    position: relative;
    border-radius: 5px;
    z-index: 3;

}

.nameOfskill{
    margin: 20px;
    color: var(--Blue);
    font-family: "Creepster", system-ui;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.skill .pera{
    margin: 0 30px;
    font-size: 15px;
    color: var(--nav-anchor);
    font-family: "Barlow Condensed", sans-serif;
}

.skill .logo{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#box-1{
    grid-area:H;
    justify-self: center;
    border-left: 4px solid var(--maximumBlueGreen);
}
#box-2{
    grid-area: C;
    justify-self: end;
    border-top: 4px solid var(--Red);
}
#box-3{
    grid-area: J;
    justify-self: start;
    border-bottom: 4px solid var(--Cyan);
}
#box-4{
    grid-area: S;
    justify-self: center;
    border-right: 4px solid var(--mango);
}


#pageNo2 .show-more{
    display: none;
    justify-content: center;
    align-items: center;
}

#pageNo2 .show-more .btn{
    color: white;
    border-radius: 5px;
    /* border: 1px solid white; */
    width: 100px;
    height: 40px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--Orange);
}

#pageNo2 .show-more .btn .pera{
    margin-top: 5px;
}

#pageNo2 .show-more .line{
    width: 40%;
    border-bottom: 2px solid var(--green);
}

#down-arrow{
    width: 10px;
    height: 10px;
    visibility: hidden;
}

#pageNo2 .show-more:hover #down-arrow{
    visibility: visible;
}

/* 🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️🐻‍❄️ */

@media screen and (min-width:900px) {
    .lan-pg-content{
        justify-content: space-around;
    }
}

@media screen and (max-width:690px){
    .landing-page .nav-1{
        display: flex;
        justify-content: space-between;
        width: 140px;
        padding-top: 5px;
    }
    .landing-page .nav-1 h2{
        font-size: 22px;
    }
    #my-pic-mob{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1.5px solid var(--green);
        box-shadow: 0px 0.5px 4px var(--electricGreen);;
    }
    .nav-bar{
        padding: 0 25px;
    }
    #nav-mob-openBtn{
        display: block;
        color: var(--green);
    }
    #closebtn{
        display: block;
        font-size: 42px;
        text-decoration: none;
        color: var(--maximumBlueGreen);
        position: absolute;
        top:0;
        left: 10px;
    }
    #nav-2 ul{
        display: flex;
        flex-direction: column;
        align-items: end;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition-duration: 0.5s;
        position: absolute;
        top: 0;
        right: 0;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        z-index: 999;
    }
    #nav-2 ul li{
        border-bottom: 1px solid var(--mango);
        width: 100px;
    }
    #nav-2 ul li a{
        padding: 10px;
        color: var(--maximumBlueGreen);
    }
    .lan-pg-content{
        flex-direction: column;
        align-items:center;
        margin-top: 10px;
    }
    .lan-pg-content .pera-lan,.lan-pg-content .intro,.pera2-land{
        text-align: center;
    }
    .lan-pg-content .pera-lan{
        font-size: 10px;
    }
    .lan-pg-content .intro{
        font-size: 18px;
    }
    .pera2-land{
        font-size: 13px;
    }

    .right-half{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #land-animi{
        display: block;
    }
    #profile-pic-container ,#profile-pic-container-1 ,.right-half #sub-pic-cov{
        display: none;
    }
    
    /* page No 2 */
    .skills-grid{
        width: 100%;
        grid-template-areas: 
        "H"
        "C"
        "J"
        "S";
        justify-content: center;
    }

    #pageNo2 .skill{
        border: none;
    }

    #pageNo2 .behind-text{
        display: none;
    }
    #pageNo2 .show-more{
        display: none;
    }
}